#header{
    background-color: rgb(226,200,165);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
}

h1, h2, h3{
    text-transform: uppercase;
}

#nameAndTitle{
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2{
    margin: 0;
}

#contact{
    list-style-type: none;
}

#contact i{
    width: 30px;
    color: rgb(226,200,165);
}

#container{
    grid-template-columns: 30% auto;
    display: grid;
    grid-column-gap: 20px;
}

#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.card h3{
    font-family: 'Hubballi', cursive;
}

.card {
    font-family: Montserrat;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
}